// FONTS
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,300&family=Questrial&display=swap');

$ContentFont : 'Barlow Semi Condensed', sans-serif;
$TitleFont : 'Questrial', sans-serif;

//COLORS

$Background: #292F36;
$Emphasis: #4ecdc4;
$EmphasisDark: #247F79;
$Neutral: #F7FFF7;